@model MYCARS.Models.Skateboard

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Bike</title>
</head>
<body>
    <h1>Create New Car</h1>
    <form asp-action="CreateSkateboard" method="post">
        <div>
            <label asp-for="name">Name:</label>
            <input asp-for="name" />
            <span asp-validation-for="name"></span>
        </div>
        <div>
            <label asp-for="raiting">Rating:</label>
            <input asp-for="raiting" />
            <span asp-validation-for="raiting"></span>
        </div>
        <button type="submit">Create</button>
    </form>
    <a asp-action="Skateboards">Back to List</a>
</body>
</html>